<%= form_for(@cocktail) do |f| %>
  <% if @cocktail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cocktail.errors.count, "error") %> prohibited this cocktail from being saved:</h2>

      <ul>
      <% @cocktail.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :picture %><br>
    <%= f.text_field :picture %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">

<div> Ingrédients: </div>

  <ul>
    <% @ingredients.each do |ingredient| %>
      <li>
        <%= ingredient.name %>
      </li>
      <li>
        <%= f.fields_for :dosages do |dosage_f| %>
          <%= dosage_f.hidden_field :cocktail_id, value: @cocktail.id %>
          <%= "quantité de #{ingredient.name}" %>
          <%= dosage_f.text_field :quantity %>
        <% end %>
      </li>
    <% end %>
  </ul>




  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
