<!-- STILL NEED TO FIX IMAGE PROPORTIONS ISSUE -->

<p id="notice"><%= notice %></p>

<p>
  <strong>
    <%= @cocktail.name %>
  </strong>
</p>

<p>
  <%= image_tag(@cocktail.picture, size: "400x400") %>
</p>

<p>
  <strong>Description:</strong>
  <%= @cocktail.description %>
</p>

<p>
  <strong>Recette:</strong>
  <ul><% @cocktail.dosages.each do |dosage| %>
      <li><%= "#{dosage.quantity} of #{dosage.ingredient.name}" %></li>
    <% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_cocktail_path(@cocktail) %> |
<%= link_to 'Back', cocktails_path %>
